[defaults]
# Inventory
inventory = ./automation/inventory/hosts

# Connection
host_key_checking = False
remote_user = root
timeout = 30

# Performance
forks = 5
gathering = explicit

# Logging
log_path = /var/log/ansible.log

# Output (no errors)
deprecation_warnings = False
command_warnings = False
retry_files_enabled = False

# Python
interpreter_python = auto_silent

[ssh_connection]
# SSH settings
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=10
pipelining = True


